/* Global styles */

body {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color: var(--brand-subtitle-color);
}
:root {
	--brand-onfocus-color: #2196F3;
	--brand-p-color: #757575;
	--brand-subtitle-color: #212121;
}

.title {
	color: var(--brand-subtitle-color);
}

.text {
	color: var(--brand-p-color);
}
.link {
	text-decoration: none;
}

.list {
	list-style-type: none;
}
/* Header */
/* Logo */
.logo-web {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.19;
		
		letter-spacing: 0.03em;
		color: var(--brand-onfocus-color);
}

.logo-studio {
	color: #000;
}

/* Navigation */
.header {

}

.header-list {
	display: flex;
}

.header-link {
	/* display: flex; */
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--brand-subtitle-color);
}

.header-link:hover,
.header-link:focus {
	color: var(--brand-onfocus-color);
}

.header-cont {
	font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
	
		color: var(--brand-p-color)
}

.header-cont:hover,
.header-cont:focus {
	color: var(--brand-onfocus-color);
}

/* Hero */
.hero {
		background: #2F303A;
}

.hero-title {

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #FFFFFF;
}

.hero-but {
	width: 200px;
	height: 50px;

	background: var(--brand-onfocus-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.hero-but-title {
	position: absolute;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.9;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.06em;
		color: #FFFFFF;
}

/* Benefits */

.benefits-list {
	display: flex;
}

.benefits-title {
	font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
}

.benefits-text {
	font-size: 14px;
	line-height: 1.71;
	
	letter-spacing: 0.03em;
}


/* About */


/* Team */


/* * Portfolio * */


/* Buttons */


/* Projects */